{% comment %}
<!-- [
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "ca.sovote.sovoteapp",
      "sha256_cert_fingerprints":
        ["68:FF:8D:B0:A2:17:C9:14:0B:69:92:DE:15:37:51:38:F2:9B:E1:D5:F2:DF:C9:BE:0A:B3:18:BA:3C:19:33:5F"]
    }
  }
] -->
{% endcomment %}


[{
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "ca.sovote.sovoteapp",
      "sha256_cert_fingerprints":
      ["17:D2:E2:3E:5D:B4:CB:B8:9E:69:A1:E5:A5:81:64:E1:12:50:92:A9:73:EA:9E:A3:8F:97:E6:BC:42:72:D7:2D"]
    }
  }]

  