
{% load static %}
{
    "object_type":"{{ j.object_type }}",
    "id":{{ j.id }},
    "title":"{% if j.ShortTitle %}{{ j.ShortTitle|remove_tags }}{% else %}{{ j.LongTitleEn|remove_tags }}{% endif %}{{ j.Title|remove_tags }}",
    {% if j.person %}"SponsorName":"{% if j.person %}{{ j.person.honorific }} {{ j.person.first_name|remove_tags }} {{ j.person.last_name|remove_tags }}{% endif %}",
    "SponsorLogo":"{{ j.person.logo }}",
    "SponsorPartyColour":"{{ j.person.party.colour }}",
    "SponsorPartyName":"{{ j.person.party_name }}",
    {% else %}"SponsorLogo":"http://10.0.2.2:3005{% static 'img/user-coloured.png' %}",
    "SponsorName":"{{ j.SponsorPersonName }}",
    "SponsorPartyColour":"0xffC0C0C0",
    "SponsorPartyName":"None",{% endif %}
    "PersonNameDetailed":"{{ j.person_name|remove_tags }}",
    "ParliamentNumber":"{{ j.ParliamentNumber }}th",
    "SessionNumber":"{{ j.SessionNumber }}st",
    "Organization":"{{ j.Organization }}",
    "NumberCode":"{{ j.NumberCode }}",
    "pub_iden":"{{ j.pub_iden }}",
    "Latest":"{{ j.LatestBillEventTypeName }} - {{ j.LatestBillEventDateTime }}",
    "legis_link":"{{ j.legis_link }}",
    "SummaryHtml":"{{ j.summary|html_json|safe }}{{ j.Content|html_json|safe }}",
    "Summary":"{{ j.summary|remove_tags }}{{ j.Content|remove_tags }}",
    "wordCount":"{{ j.wordCount }}",
    "OrderOfBusiness":"{% if j.OrderOfBusiness %}{{ j.OrderOfBusiness|remove_tags }}{% endif %}",
    "SubjectOfBusiness":"{% if j.SubjectOfBusiness %}{{ j.SubjectOfBusiness|remove_tags }}{% endif %}",
    "Terms":"{% for term in j.Terms|slice:":3"%}{{ term|remove_tags }}//{% endfor %}",
    "PassedFirstChamberFirstReading":"{{ j.PassedFirstChamberFirstReading }}",
    "PassedFirstChamberSecondReading":"{{ j.PassedFirstChamberSecondReading }}",
    "PassedFirstChamberThirdReading":"{{ j.PassedFirstChamberThirdReading }}",
    "PassedSecondChamberFirstReading":"{{ j.PassedSecondChamberFirstReading }}",
    "PassedSecondChamberSecondReading":"{{ j.PassedSecondChamberSecondReading }}",
    "PassedSecondChamberThirdReading":"{{ j.PassedSecondChamberThirdReading }}",
    "ReceivedRoyalAssent":"{{ j.ReceivedRoyalAssent }}",
    "Logo":"http://10.0.2.2:3005{% static 'img/house_coat_of_arms.png' %}",
    {% if j.Publication_date_time %}"Publication_date_time":"{{ j.Publication_date_time|date:"D M d, Y h:iA" }} EST",
    {% else %}"Publication_date_time":"{{ j.Item_date_time|date:"N/j/y" }} {{ j.Item_date_time|time:"g:i:s a" }}",{% endif %}
    "VideoURL":"{{ j.VideoURL }}",
    "hasText":"{{ j.has_transcript }}",
    "vote":"{% if r.isYea %}Yea{% elif r.isNay %}Nay{% else %}none{% endif %}",
    "following":"{% if post.bill in request.user.follow_bill.all %}true{% else %}false{% endif %}",
    "starred":"{% if r.saved %}true{% else %}false{% endif %}",
    "yeaCount":"{{ post.total_yeas }}",
    "nayCount":"{{ post.total_nays }}",
    "commentCount":"{{ post.total_comments }}"
}{% if not forloop.last %},{% else %}{% endif %}
