

*{
    color: white;
}
body{
    background: linear-gradient(to bottom, #181f2d, black);
    background-attachment: fixed;
}
/* active is being used on reactionBar */
.active{
  background-color: #4f4e4e;
}
.feedTop, .navTop, .modalWidget{
  /* background: linear-gradient(to top, #222222, #1e1e1e); */
  background-color: #222222;
  border-left: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e;
  border-top: 1px solid #4f4e4e;
}
.indexMobile .navTop{
  border: none;
}
#mobileNavigation{
  border-left: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e;
  border-top: 1px solid #4f4e4e;
}
.navTop .shadow, .feedTop .shadow{
  background: linear-gradient(to top, RGBA(34, 34, 34, 0), #474646);
}
#navBar li.active{
  background-color: transparent;
  background: linear-gradient(to top, RGBA(34, 34, 34, 0), #474646);
  border-bottom: 0px solid #4f4e4e;
}

#navBar{
  background-color: #222222;
  border-top: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e;
  border-left: 1px solid #4f4e4e;
  /* border-bottom: 0px solid transparent; */
}
/* #navBar > ul.bottomBorder{
  border-bottom: 1px solid #4f4e4e;
} */
#navBar > ul > li{
  /* background-color: #222222; */
  border-bottom: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e;
}
.feedTop #navBar.fixed > ul > li{
  border-right: 1px solid #4f4e4e;
  border-bottom: 0px solid #4f4e4e;
}
#navBar.fixed{
  background-color: #222222;
  border: 1px solid #4f4e4e;
}
#navBar #navOptions{
  background-color: #222222;
}
.arrowdown {
  border: solid white;
  border-width: 0 1px 1px 0;
}
.reactionBar ul > li.readingButton:hover, .reactionBar ul > li.readingButton a:hover, .reactionBar ul > li.readingButton.active, .reactionBar ul > li.readingButton a.active{
  background: linear-gradient(to top, RGBA(34, 34, 34, 0), #474646);
}
#sidebar .header{
  /* border-bottom: 1px solid #727272;  */
}
#sidebar ul{
  border-top: 1px solid #4f4e4e; 
  /* border-bottom: 1px solid #3a3939;  */
}
.feedTop #optionsBar > ul > li{
  border: 1px solid #4f4e4e;
}
#navigation, #sidebar{
    background-color: #222222;
    border: 1px solid #4f4e4e;
}
#feed{
  background-color: #222222;
  /* border: 2px solid red; */
    /* border: 1px solid #4f4e4e; */
    border-left: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e;
  border-top: 1px solid #4f4e4e; 
  border-bottom: 0px solid #4f4e4e;
}
#bottomNavBar > ul{
    background-color: #222222;
    border-top: 1px solid #4f4e4e;
}
.hansard .hansardEmbedContent{
  border: 1px solid #4f4e4e;
}
  
.hansard .hansardTerms > ul > li{
  border: 1px solid #4f4e4e;
}
.readMore{
  background-color:#222222;
}
.reactionBar, .pageDivider, .bottomDivider{
    /* background-color: #222222; */
    border-bottom: 1px solid #3a3939;
    /* border-bottom: 1px dotted #302f2f; */
  }
.reactionBar{
  /* background-color: #222222; */
  }
.reactionBar ul > li{
  /* border-top: 1px solid #4f4e4e;
  border-right: 1px solid #4f4e4e; */
  border: 1px solid #4f4e4e;
  border-bottom: 1px solid #3a3939;
  background: linear-gradient(to top, transparent, #3a3939) !important;
}
.reactionBar ul > li.active{
  /* background: transparent !important; */
}
.sharePopUp {
  background-color: #222222;
  border: 1px solid #4f4e4e;
}
.pagePicker li{
  border: 1px solid #4f4e4e;
}
.pagePicker li.active {
  background: linear-gradient(to top, RGBA(34, 34, 34, 0), #474646);
}
.pagePicker li:hover:not(.active) {
  background: linear-gradient(to top, RGBA(34, 34, 34, 0), #474646);
}
#bottomCard{
  background-color: #222222;

}
.fadeOut{
  background: linear-gradient(to top, #222222, RGBA(34, 34, 34, 0));
}


.autocomplete-result-list{
  background:#222222;
}
.autocomplete-result:hover,.autocomplete-result[aria-selected=true]{
  background-color:#4f4e4e;
}