{% load static %}

<div class='indexMobile'>

<a href='/' class='navTop'>   
    
    <div class='shadow'></div>
    <ul>
    <li><h1>&nbsp;&nbsp;So<span style='font-size:100%''>V</span>ote</h1> </li> 
    <li>&nbsp;Democracy Decentralized</li>
    </ul>
</a>
<div id='mobileNavigation'>

<ul class='userProfile'>
    <li><img class='userPic' src={% static 'img/user-coloured.png' %}></li>
    <!-- <li class='userName'>{% if request.user.is_authenticated %}<a href='{{ user.get_absolute_url }}'><span style='color:#b78e12'>V</span>|{{ user.username }}</a>{% else %}<a href='/login'>Login / Signup</a>{% endif %}</li> -->
    <li id='userName'>{% if request.user.is_authenticated %}<a href='{{ user.get_absolute_url }}'><span style='color:#b78e12'>V</span><span style='color:gray'>/</span>{{ user.display_name }}</a>{% else %}<span onclick="modalPopUp('Login / Signup', '/accounts/login-signup')">Login/Signup</span>{% endif %}</li>
    <li class='settings'><span class="material-icons">settings</span></li>
</ul>



<div class='container1'>
    <!-- <ul>
        <li style='font-size:130%'><a href='/everything'>Everything</a></li>
    </ul> -->
<!-- <ul>
    <li style='font-size:130%'><a href='/home'>Home</a></li>
    <li style='font-size:130%'><a href='/region'>Region</a></li>
    <ul class='navSubmenu'>    
        <li><a href='/everything'>Everything</a></li>
        <li><a href='/region'>Regional</a></li>
        <li><a href='{{ user.get_absolute_url }}?view=following'>Following</a></li>
    </ul>

</ul> -->


<ul>
    <!-- <li><a href='/new'>New</a></li> -->
    <li><a href='/search'>Search</a></li>
    <!-- <li><a href='/latest-hansard'>Level: All</a></li> -->
</ul>

   
<ul>
    {% if request.user.is_authenticated %}
    <li style='font-size:130%'><a href='/{{ country.lowerName }}/home'>Home</a></li>
    <ul class='navSubmenu' id='home'>    
        <li><a href='/{{ country.lowerName }}/region'>Region</a></li>
        <li><a href='/{{ country.lowerName }}/following'>Following</a></li>
    </ul>
    {% else %}
    <li style='font-size:130%'><a href='/{{ country.lowerName }}/home'>Home</a></li>
    {% endif %}
</ul>
    
<ul>
    <li><a href='/about'>About Us</a></li>
    <li><a href='/values'>Our Values</a></li>
    <li><a href='/contact'>Contact Us</a></li>
    {% if not xRequest %}
    <li><a href='/get-the-app'>Get the App</a></li>
    {% endif %}
    <li><a href='/someta'>SoMeta</a></li>
    <!-- <li><a href='/test'>Testing</a></li> -->
    <br>
    {% if theme == 'night' %}
    <li id='theme' onclick='themer()'>Night Theme</a></li>
    {% else %}
    <li id='theme' onclick='themer()'>Day Theme</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li><a href='/logout'>Log Out</a></li>
    {% endif %}

</ul>

</div>

<div class='container2'>
    <ul>
        <li style='font-size:130%'><a href='/{{ country.lowerName }}/citizenry'>Citizenry</a></li>
        <ul class='navSubmenu' id='citizenry'>    
            <li><a href='/{{ country.lowerName }}/citizen-debates'>Debates</a></li>
            <li><a href='/{{ country.lowerName }}/citizen_bills'>Bills</a></li>
            <li><a href='/{{ country.lowerName }}/polls'>Polls</a></li>
            <!-- <li><a href='/petitions'>Petitions</a></li> -->
        </ul>
    </ul>
    
    <ul>
        <li style='font-size:130%'><a href='/{{ country.lowerName }}/legislature'>Legislature</a></li>
        <ul class='navSubmenu' id='house'>    
            <!-- <li><a href='/agendas'>Agendas</a></li> -->
            <li><a href='/{{ country.lowerName }}/bills'>Bills</a></li>
            <li><a href='/{{ country.lowerName }}/debates'>Debates</a></li>
            <li><a href='/{{ country.lowerName }}/motions'>Motions</a></li>
            <li><a href='/{{ country.lowerName }}/committees'>Committees</a></li>
            <li><a href='/{{ country.lowerName }}/officials'>Officials</a></li>
            <li><a href='/{{ country.lowerName }}/elections'>Elections</a></li>
        </ul>
    </ul>



</div>
<br>
<br>
<br>


    
    
 
</div>


</div>