{% load static %}

    <div class='card motion' id='m-{{ m.id }}'>
        
        {% if motion.Sponsor_obj %}
        {% with b=motion %}
        {% include 'utils/person.html' %}
        {% endwith %}

        {% comment %}
        {% if motion.Sponsor_obj %}
        <div class='sponsor'>
            <div>person</div>
            {% if motion.Sponsor_obj.LogoLink %}
                <a href={{ motion.Sponsor_obj.get_absolute_url }}><img class='sponsorPic' style='border-bottom:4px solid {{ motion.Sponsor_obj.Party_obj.colour }};' src={{ motion.Sponsor_obj.LogoLink }}></a>
            {% else %}
                <img class='votePic' src={% static 'img/user-coloured.png' %}>
            {% endif %}
            <div class='sponsorInfo'>
                <div>Sponsor:</div>
                <div><h3><a href={{ motion.Sponsor_obj.get_absolute_url }}>{{ motion.Sponsor_obj.FullName }}</a></h3></div>
            </div>
        </div>
        {% endcomment %}

        {% elif motion.Region_obj.LogoLink %}
        <div class='sponsor'>
            <img class='sponsorPic' src={{ motion.Region_obj.LogoLink }}>
        </div>
        
        {% else %}
        <div class='sponsor'>
            <img class='sponsorPic' src={% static 'img/house_coat_of_arms.png' %}>
        </div>
        {% endif %}
        <div class='cardContent'>
        <div class='Info'>
            <div class='Code'>
                <h2><a href='{{ motion.get_absolute_url }}'>{% if motion.Government_obj.gov_level == 'Province' %}Assembly{% else %}{{ motion.chamber }}{% endif %} Motion No. {{ motion.VoteNumber }}</a></h2>
                <div class='Parl'>
                    <div>{{ motion.Government_obj.GovernmentNumber|get_ordinal }} {% if m.Government_obj.gov_type == 'Parliament' %}Parl.{% else %}Gov.{% endif %} {{ motion.Government_obj.SessionNumber|get_ordinal }} Sess. {% if motion.Government_obj.gov_level != 'Federal' %}({{ motion.Region_obj.AbbrName }}){% endif %}</div>
                    {% if post %}<div>{{ post.DateTime }}</div>{% else %}<div>{{ motion.DateTime }}</div> {% endif %}
                </div>
            </div>
            <div class='Details'>
                {% if motion.Subject %}
                    <div class='title'><a href='{{ motion.get_absolute_url }}'>{{ motion.Subject }}</a></div>
                {% endif %}
                {% if motion.Bill_obj %}
                <ul style='margin-bottom: -5px;'>
                    <li><a href={{ motion.Bill_obj.get_absolute_url }}>Bill {{ motion.Bill_obj.NumberCode }}</a></li>
                    <li>Latest: {{ motion.Bill_obj.LatestCompletedMajorStageNameWithChamberSuffix }}</li>
                </ul>
                {% endif %} 

        </div>    
        
        {% if motion.MotionText %}
        <div class='TextContent' style='margin-top: 15px;'>
            <ul class='Text'>
                    <li>{{ motion.MotionText|safe }}</li>
            </ul>
        </div>
        {% endif %} 
        {% include 'utils/motion_outline.html' %}
        {% if v %}
        <div class='Details'>
            <ul style='margin: 0px;'>
                <li><a href='{{ v.Person_obj.get_absolute_url }}'>{{ v.Person_obj.FullName }}</a>:</li>
                <li><span {% if v.VoteValueName == 'Yea' %}style='background-color:#0b559a; color:white; padding: 5px;  border-radius:5px;'{% elif v.VoteValueName == 'Nay' %}style='background-color:#ed7600; color: white; padding: 5px; border-radius:5px;'{% endif %}>{{ v.VoteValueName }}</span></li>
            </ul>
        </div>
        {% endif %}
        </div>  
        </div>
    </div>
    <div class='bottomDivider'></div>
