{% load static %}
        {% with updatedRole=role %}
        {% with r=updatedRole.Role_obj %}
        <div class='card role'>

            <h3>{{ updatedRole|get_updated_field:'Position' }}</h3>
        
            <ul>
            <!-- <li>{{ role.person.first_name }}</li>
                <li>{{ role.person.last_name }}</li> -->
                {% if role.parliament %}
                    <li>Parliament: {{ role.parliament.ParliamentNumber }}-{{ role.parliament.SessionNumber }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'Title' %}
                    <li>Title: {{ updatedRole|get_updated_field:'Title' }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'Group' %}
                    <li>Group: {{ updatedRole|get_updated_field:'Group' }}</li>
                    <!-- <li>com: {{ role.committee_key }}</li> -->
                {% endif %}
                {% if role.affiliation %}
                    <li>{{ role.affiliation }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'Party_obj' %}
                    <li>Party: {{ updatedRole|get_updated_field:'Party_obj,Name' }}</li>
                {% endif %}
                {% if role.constituency_name %}
                    <li>Constituency: {{ role.constituency_name }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'ProvState_obj' %}
                    <li>Province: {{ updatedRole|get_updated_field:'ProvState_obj,Name' }}</li>
                {% endif %}
                {% if role.result %}
                    <li>Result: {{ role.result }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'StartDate' %}
                    <li>Start Date: {{ updatedRole|get_updated_field:'StartDate'|date:"F d, Y" }}</li>
                {% endif %}
                {% if updatedRole|get_updated_field:'EndDate' %}
                    <li>End Date: {{ updatedRole|get_updated_field:'EndDate'|dt_object|date:"F d, Y" }}</li>
                {% endif %}
                <!-- <li>ordered: {{ r.ordered }}</li> -->
            </ul>
            <br>
        
        </div>
        {% endwith %}
        {% endwith %}
    <div class='bottomDivider'></div>
