

html {
    /* transform: scale(1);
    transform-origin: 0 0; */
    font-size: 170%;
    /* line-height: 200%; */
    /* zoom: 150%; */
  }
body{
    /* font-size: 27px !important; */
}
#container{
    width: 100%;
    /* left: -1%; */
}
body a{
    /* text-decoration: underline; */
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 74px;
    height: 74px;
    margin: 3px;
    margin-left: -5px;
    border-radius: 50%;
    border: 10px solid #0b559a;
    border-color: #0b559a transparent #0b559a transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
#sidebar{
    display: none;
}
#index{
    display: none;
}

.shorten1{
    display: inline-block;
    white-space: nowrap;
  /* display: inline-block; */
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
  max-width: 750px;
  overflow: hidden;
  /* max-height: 1.4em; */
  /* line-height: 1.4em; */

  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
   
   /* white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis !important; */
    /* font-size: 75%; */


    /* overflow: hidden !important;
   text-overflow: ellipsis !important;
   display: -webkit-box !important; */
   /* number of lines to show */
   /* -webkit-line-clamp: 1; 
           line-clamp: 1; 
   -webkit-box-orient: vertical !important; */
 }
.shorten2{
    
/*    
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.8em;
  line-height: 1.4em; */
  
    overflow: hidden !important;
   text-overflow: ellipsis !important;
   display: -webkit-box !important;
   /* number of lines to show */
   -webkit-line-clamp: 3; 
           line-clamp: 3; 
   -webkit-box-orient: vertical !important;
}



.indexMobile, .searchMobile, .notificationsMobile{
    position: fixed;
    top: 0px;
    z-index: 1100;
    width:100%;
    left: -102%;
    display: block;
    background-color: rgba(249, 249, 249,1);
    height: 100%;
    font-size: 170% !important;
    line-height: 150%;
    transition: 0.35s;
    /* border: 1px solid blue; */
    overflow-x: hidden;
}
.indexMobile a, .searchMobile a{
    text-decoration: none;
}
.indexMobile .navTop{

    position: relative;
    display: block;
    height: 10px;
    width:100%;
    border: none;
    padding: 0px;
    z-index: 1001;
    /* margin-bottom: 60px; */
    /* text-align: center; */
    /* vertical-align: middle; */
}
.indexMobile .navTop ul{
    top: 0px;
    margin-top: -30px;
    position: relative;
    display: block;
    width: 100%;
    /* border: 1px solid red; */
}
.indexMobile .navTop li{
    display: inline-block;
    position: relative;
    /* border: 3px solid green; */

}
.indexMobile .navTop h1, .searchMobile .navTop h1{
    font-size: 180%;
    top: 5px;
    margin-right: 20px;
    /* margin-top: 40px; */
    /* padding-top: 40px; */
    /* padding-left: 25px; */
    display: inline-block;
    /* border: 3px solid green; */
}
.indexMobile  .navTop div{
    /* margin: auto; */
    /* top: -10px; */
    position: relative;
    display: inline-block;
    /* vertical-align: middle; */
    /* left: 0px; */
    width: 100%;
    /* border: 1px solid red; */
}
#mobileNavigation{
  border-left: 0px solid #727272;
  border-right: 0px solid #727272;
  border-top: 1.5px solid #727272;
  border-radius: 40px;    
  height: calc(100% - 170px);
  z-index: 1200;
}
.indexMobile #mobileNavigation{
    margin-top: 135px;
    /* height: calc(80%-335px) !important; */
}
.shady{
    top: 4px;
    height: 260%;
    margin: 0px 6px;
}
.feedTop .shady{
    top: 4px;
    height: 180%;
    margin: 0px 6px;
}
#line_one, #line_two {
    width:4px;
}
  #navigation > ul{
    /* text-decoration: none; */
    /* border: 1px solid green; */
    list-style: none;
    margin-top: 0px;
    padding: 0px;
    padding-left: 15px;
    font-size: 115%;

  }

.indexMobile .container1{
    display: inline-block;
    position: relative;
    left: 0px;
    width: 35%;
    padding-left: 10%;
    /* border: 1px solid green; */
    vertical-align: top;
}
.indexMobile .container2{
    display: inline-block;
    position: relative;
    /* left: 50%; */
    width: 20%;
    padding-left: 10%;
    /* border: 1px solid green; */
    vertical-align: top;
}
.indexMobile ul{
    display: block;
    width: 40%;
    /* border: 1px solid red; */
    vertical-align: top;
    list-style: none;
    padding-left: 20px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
}
.indexMobile li{
    /* overflow: hidden; */
    white-space: nowrap;
    padding: 10px 0px;

}
.indexMobile .userProfile .userPic{
    height: 85px;
    padding-left: 30%;
}
.indexMobile .userName{
    font-size: 55px;
    left: 3%;
    top: -20px;
}
.indexMobile .userProfile .settings{
    right: 55px;
}


.searchMobile{
    left: 100%;
    /* font-size: 100%; */
}

.searchMobile .navTop, .notificationsMobile .navTop{
    position: relative;
    /* display: block; */
    height: 120px;
    width:100%;
    border: none;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 60px; */
    /* text-align: center; */
    vertical-align: middle;
}
.searchTabs{
    border: 1px solid green;
    /* border-bottom: 1px solid #727272; */
    /* display: flex; */
    /* flex-grow: 1;
    flex-basis: 0;
    padding: 10px; */
    /* padding-left: 0px; */
    /* margin-top: 20px; */
    /* margin-left: -50px; */
    /* left:0px; */
    /* width: 100%; */
}
.searchMobile .navTop{
    /* border: 1px solid red; */
}
.searchTab{
    position: relative;
    display: inline-block;
    /* border: 1px solid #727272; */
    /* margin-right: -12px; */
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-top: 40px;
    /* border-radius: 10px; */
    height: 70px;
    font-size: 50px !important;
    width: 200px !important;
    text-align: center;
}
.searchTab.right{
    position: absolute;
    display: block;
    /* top: -50px; */
    right: 30px;
}
.searchMobile #mobileNavigation, .notificationsMobile #mobileNavigation{
    /* font-size: 50%; */
    /* font-weight: lighter; */
    overflow: scroll;
    position: relative;
    /* padding-bottom: 1000px; */
    /* margin-bottom: 500px; */
}
.searchTabContent{
    display: none;
    position: absolute;
    /* top:100px; */
    opacity: 0;
    transition: 0.2s;
    overflow: scroll;
    width: 100%;
    /* height: 60px; */
    /* margin-top: 80px; */
    /* border: 1px solid red; */
}
/* .searchTabContent .shorten1{
    font-size: 120%;
} */
.searchTabContent ul{
    margin-top: 100px;
    list-style: none;
    padding-bottom: 500px;
}
.searchTabContent span{
  position: absolute;
  right: 30px;
  font-size: 155%;
  font-weight: lighter;
  /* bottom: 5px; */
  /* float:right; */
}
.searchTabContent .trending span{
    /* font-size: 180% !important; */
}
.searchTabContent ul li{
    /* font-weight: 100px; */
    /* font-size: 65%; */
}
.searchTabContent ul li{
    line-height: 30px;
    font-size: 75%;
    margin-bottom: 30px;
    margin-right: 110px;
}
/* .searchTabContent > div > span{
    font-size: 50%;
} */
.searchTabContent span{
    /* top: 20px; */
    font-weight: 500;
    font-size: 90% !important;
    /* text-decoration: underline; */
}
.searchTabContent#agenda a{
    text-decoration: underline;
}
.searchTabContent#topics{
    font-size: 130%;
}
.searchTabContent#speakers{
    width: 100%;
    font-size: 130%;
}
.searchTabContent#toc{
    font-size: 100%;
}
.blue{
    border-bottom: 4px solid #0b559a;
    width: 100%;
}
.show, .stayShowing{
    opacity: 1;
}
.block{
    display: block;
}


.feedContainer{
    /* display: none; */
    /* overflow: hidden; */
    /* border: 5px solid red; */
    position: relative;
    /* left: 0px; */
    /* left: -0.1%; */
    /* doesn't appear centered on mobile for unknown reason */
}
.navTop .shadow, .feedTop .shadow{
    height: 60px;
  }
.navBarSpacer{
    position: relative;
    display: block;
    height: 95px;
    top:0px;
    /* margin-bottom: 100px; */
}
#feed{
    /* display: none; */
    width:100%;
    left: 0px;
    /* top: -350px; */
    margin-top: -450px;
    border-radius: 40px;
    padding-top: 20px;
    border-left: 0px solid #727272;
    border-right: 0px solid #727272;
    /* border: 5px solid yellow; */
}
.feedTop{
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 520px;
    /* border:  1px solid red;
    z-index: 1101; */
    /* top: 500px !important; */
    /* margin-top: 70px; */
}
.feedTop h1{
    top: 30px;
}
.feedTop #subtitle{
  top:45px;
}
.feedTop #subtitle2{
  top:75px;
}
#navBar{
    font-size: 155%;
    padding: 0px;
    position: fixed !important;
  top: -2px !important;
  left: 0px !important;
  z-index: 600;
  /* border: 2px solid red; */
  width: 100%;
}
/* #navBar .shadow{
    bottom: 0px;
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0px;
    background: linear-gradient(to bottom, transparent, #d3d3d3);
} */
#navBar > ul{
  /* border: 1.5px solid #727272; */
  /* height: 88px; */
  /* background: linear-gradient(to bottom, white, #d3d3d3); */
  background: linear-gradient(to bottom, rgba(249, 249, 249,1), #d3d3d3);
}
#navBar > ul > li{
    padding: 18px;
    border-right: 1px solid #727272;
    border-bottom: 0px solid #727272;
    margin: 0px 0px 0px -10px;
    float: none;
    /* border: 4px solid blue; */
    background: linear-gradient(to bottom, rgba(249, 249, 249,1), #d3d3d3);
}
/* #navBar > ul > li .shadow{
    bottom: 0px;
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0px;
    background: linear-gradient(to bottom, transparent, #d3d3d3);

} */
#navBar > ul > li .material-icons{
  position: relative;
  display: inline-block;
  top: 15px;
  margin-top: -15px;
  /* margin-bottom: -20px; */
  height: 70px;
  font-size: 120%;
  /* border: 1px solid red; */
}
#navBar li.active{
  background: linear-gradient(to top, rgba(249, 249, 249,1), #d1d1d1);
  border-bottom: 0px solid transparent;
}
#navBar ul:has(.showForm), #navBar li:has(.showForm){
    border-bottom: 2px solid #727272 !important;
  background: rgba(249, 249, 249,1);
}
#navBar a{
    text-decoration: none;
}
#navBar #datePickerForm input, #navBar #searchForm input{
  /* height:50px;
  width: 15%; */
  font-size: 60%;
}
.pagePicker a{
    padding: 35px 35px;
    font-size: 115%;
}
#navBar .pagePicker a{
  padding: 25px 25px;
  font-size: 95%;
}
#navBar form input{
    font-size: 110% !important;
    padding:15px;
}

#bottomCard{
    max-height: 350px !important;
}
.pageDivider{
  border-bottom: 2px solid #c4c4c4;
}
.display{
    display: block;
    left: 0%;
}
.card{
    padding-top: 10px;
}
.card .sponsor{
  /* padding: 5px; */
  width: 200px;
  font-size: 25px !important;
  /* border: 1px solid green; */
}
.card .sponsor > div{
    /* top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    margin-top: 30%;
}
.card .sponsor img{
  max-width: 145px;
  max-height:300px;
  /* margin: 10px; */
  /* vertical-align: middle; */
}
.card .sponsor img.sprenPic{
  max-width: 250px;
  max-height:300px;
margin-top: 60px;
}
.hansard, .committee{
    font-size: 100%;
}
.hansard{
    font-size: 125%;
}
.card .Code h2{
    font-size: 120%;
    max-width: 60% !important;
}
.committee .Code h2{
    font-size: 140%;
    max-width: 60% !important;
}
.bill .Code .Parl{
    font-size: 75%;
}
.election, .candidate{
    font-size: 140%;
}
.card .Details > .title{
  /* font-size: 70%; */
  font-weight: normal;
}
.card .Details .subtitle{
  width: 100%;
  /* margin-top: 0px; */
}
.card .Details .subtitle2{
    width:auto;
    /* margin-right: 20px; */
    font-size: 80% !important;
}
.card .Details > ul{
    margin: 15px;
  }

.vote .cardContent{
  width: calc(100% - 240px);
}
.daily .Code{
    font-size: 135%;
}
.daily .TextContent{
    font-size: 120% !important;
    line-height: 180%;
}
.bill{
    font-size: 140%;
}

.billVersion{
    font-size: 100%;
}
.bill .Details .subtitle{
    font-size: 80%;
}
.agendaItem{
    font-size: 140% !important;
}
.agendaItem li{
  /* font-size: 200% !important; */
}
.agendaItem .Parl{
    font-size: 75% !important;
}
.card .Details .date{
    min-width:50px;
}
.hansard .Details > .title{
  font-size: 110%;
}
.hansard .Details li{
    /* line-height: 150%; */
    margin-top: 30px !important;
}
.committee .Details li{
    font-size: 70%;
}
.hansard .Terms > ul > li, .committee .Terms > ul > li{
  font-size: 100%;
  /* top: 20px; */
  margin-top: 20px;
  margin-bottom: 0px;
  /* margin: 30px, 3px !important; */
}
.card .Text{
    padding-right: 20px;
    line-height: 150%;
}
.card .TextContent, .card .Text{
    font-size: 90%;
  max-height: 300px;
}
.bill .TextContent {
    font-size: 90%;
    line-height: 90% !important;
}
.committee .TextContent {
    font-size: 110%;
}
.spren h3 {
    margin-top: 15px;
}
.spren {
    font-size: 140%;
    /* padding-bottom: 25px; */
    padding-top: 10px !important;
}
.spren .TextContent {
    margin-top: -20px !important;
    line-height: 85%;
}
.readMoreTerms{
    float: right;
  width: 200px;
  /* text-decoration: underline; */
  top: -26px;
  margin-top: -15px;
  margin-bottom: 0px;
}
.readMore{
  width: 200px;
  /* text-decoration: underline; */
  top: 27px;
  margin-top: 0px;
  margin-bottom: -10px;
}
.spren .readMore {
    margin-bottom: 20px !important;
    margin-top: -10px;
}
.readMore:hover{
    text-decoration: none !important;
}
.bill .readMore, .motion .readMore, .committee .readMore, .agendaItem .readMore, .daily .readMore{
    margin-bottom: 20px;
    width: 100%;
    font-size: 40px;
    /* border: 1px solid red; */
}
.fadeOut{
  height: 175px;
}
.hansard .fadeOut, .committee .fadeOut, .bill .fadeOut, .agendaItem .fadeOut, .agendaItem .fadeOut{
    /* couldnt figure out why this is needed  but it is */
    bottom: 175px;
  }
.bill .shorten1{
    /* font-size: 45%; */
}
.motion, .vote{
    font-size: 120%;
}
/* .vote .sponsor{
    height: 120%;
} */
.vote .votePic{
  width: 150px;

}
/* .vote .sponsor img{
    max-width: 245px !important;
    max-height:400px !important;
} */
.reactionBar{
  /* width: 100%; */
  height: 100px;
  font-size: 120%;
  /* bottom: 0px !important; */
  /* left: 30px !important; */
  justify-content: center;
  border-bottom: 2px solid #c4c4c4 !important;
}
.reactionBar ul{
    position: relative;
    bottom: -25px;
    left:0px;
    /* border: 1px solid red; */
    /* padding-bottom: 0px; */
    /* height: 100px; */
}
.reactionBar li{
    border: 2px solid #c4c4c4 !important;
    /* border-bottom: none; */
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    /* margin-left: -8px !important; */
  margin: 0px 0px 0px 0px !important;

}
.reactionBar ul > li.yea, .reactionBar ul > li.nay, .reactionBar ul > li.discussionLink, .reactionBar ul > li.saveButton, .reactionBar ul > li.follow, .reactionBar li.share{
    /* margin-top: 8px; */
  height:49px;
  padding: 20px 30px;
  padding-bottom: 10px;
  /* transition: 0.1s; */
}  

.reactionBar ul > li.yea.previouslyActive, .reactionBar ul > li.nay.previouslyActive, .reactionBar ul > li.yea.active, .reactionBar ul > li.nay.active, .reactionBar ul > li.follow.active, .reactionBar ul > li.saveButton.active{
  /* margin-top: 8px; */
  height:49px;
}
.reactionBar ul > li.yea.depress, .reactionBar ul > li.nay.depress, .reactionBar ul > li.follow.depress, .reactionBar ul > li.saveButton.depress, .reactionBar ul > li.share.depress{
    margin-top: 11px !important;
    height:38px;
  }
.reactionBar ul > li.yea:hover, .reactionBar ul > li.nay:hover, .reactionBar ul > li.follow:hover, .reactionBar ul > li.saveButton:hover{
  /* background-color: unset; */
  /* margin-top: 0px;
  height:49px; */
}

.reactionBar ul .material-icons{
  font-size: 40px;
}
.reactionBar ul > li.lastButton{  
  margin: 0px 10px 0px 0px !important;
}
.sharePopUp {
    font-size: 140%;
    bottom: 400px;
    margin-bottom: -395px;
    width: 350px;
    z-index: 200000 !important;
    border-radius: 14px;
  }
  .sharePopUp ul {
    padding: 0px;
    padding-left: 10px;
  }
  .sharePopUp li{
    padding: 5px;
    padding-top: 15px;
  }
 
  

#about img{
    max-width: 250px !important;
    /* max-height: 550px !important; */
    height: 250px !important;
  }


.form{
    font-size: 150%;
}
.form div{
    /* height: auto; */
    /* height: 200px; */
}
.form input{
    /* height: 80%;*/
    font-size: 110% !important;
    padding:15px;
}

.autocomplete-result-list{
    max-width: 100%;
    max-height: 50vh;
}
.autocomplete-result{
  margin: 20px;
}



#bottomNavBar{
    display: flex;
    position: fixed;
    bottom: -3px;
    height: 170px;
    width: 100%;
    z-index: 1000;
}
#bottomNavBar .shadow{
    position: absolute;
    display: block;
    width: 100%;
    height: 45px;
    top: 0px;
    left: 0px;
    margin: 0px;
    /* border-radius: 7px; */
    /* border: 1px solid red; */
    background: linear-gradient(to top, transparent, #d3d3d3);
    /* z-index: 1000; */
  }
#bottomNavBar > ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: rgba(249, 249, 249,1);
    /* border-top: 1.5px solid #727272; */
    height: 110px;
    width:100%;
    padding: 0px;
    padding-top: 20px;;
    bottom: -11px;
}
#bottomNavBar li{
    /* transition: 1s; */
}
.bNavIcon{
    position: relative;
    display: inline-block;
    height: 90px;
    width: 100%;
    transition: 0.4s;
    /* transition: 1s; */
}
#bottomNavBar li{
    /* border: 1px solid red; */
    width: calc(100%/5);
}
#bottomNavBar li:has(.display_label){
    /* position: relative;
    display: inline-block; */
    /* height: 20px; */
    /* top: -10px; */
    margin-top: -10px;
    /* transition: 0.6s; */
    /* width: 100%; */
}
.bNavIcon > span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bNavLogo{
    position: fixed;
    display: block;
    left: 50%;
    bottom: 33px;
    height: 125px;
    /* width: 125px !important; */
}
.bNavIcon > img{
    position: relative;
    display: inline-block;
    height: 125px;
    right: 62.5px;
    z-index: 1100;
}
#bottomNavBar .material-icons{
    font-size: 60px;
    text-align: center;
}
#bottomNavBar .label{
    position: relative;
    opacity: 0;
    font-size: 40px;
    transition: 0.4s;
    /* bottom: -10px; */
}
#bottomNavBar .display_label{
    opacity: 1;
    /* bottom: 0px; */
}
.userProfile .material-icons{
    font-size: 60px;
    text-align: center;
}
