
{% load static %}


<div class='form'>
    <div>

        <form id="modalForm" onsubmit="onFormSubmit();">
            <span id="field0" style="display: block; height: 25px;">{{ text }}</span>
            <span id="field1">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            </span><br>
            <span id="field2">
            </span>
            <!-- <span id="field2">
            <label for="password"> Password:</label>
            <input  type="password" id="password" name="password">
            <span onclick="displayPassword()" id="passwordVisibility" class="material-icons">visibility_off</span>
            </span> -->
            <!-- <br> -->
            <!-- <br> -->
            <!-- <button style='color: black;' onclick="generatePassword()">Generate Password</button> -->

            <!-- <br>
            <br>
            <span id="field3">Be sure to save your username and password somewhere very safe.</span> -->
            <br>
            <br>
             <button style='color: black;' type="submit" onclick="renameUser()">Continue</button>
             </form>
        
            </div>
</div>
<br>
<br>
<br>
