{% load static %}
<!--DOCTYPE html-->
<html>
<head>
    <title>SoVote</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/logo.png" %}' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/defaults.css" %}'/>
    {% if theme == 'night' %}
    <link id='themesheet' rel="stylesheet" href='{% static "css/night.css" %}'/>
    {% else %}
    <link id='themesheet' rel="stylesheet" href='{% static "" %}'/>
    {% endif %}
    {% if isMobile %} 
      <link rel="stylesheet" href='{% static "css/mobile.css" %}'/>
      <meta id='isMobile' name='True'>
      {% if theme == 'night' and xRequest or theme == 'night' and iphone %}
      <link id='mobileThemesheet' rel="stylesheet" href='{% static "css/night_mobile.css" %}'/>
      
      <!-- <link id='webviewThemesheet' rel="stylesheet" href='{% static "css/night_webview.css" %}'/> -->
      {% elif theme == 'night' %}
      <link id='mobileThemesheet' rel="stylesheet" href='{% static "css/night_mobile.css" %}'/>
      <link id='webviewThemesheet' rel="stylesheet" href=''/>
      {% else %}
      <link id='mobileThemesheet' rel="stylesheet" href=''/>
      <link id='webviewThemesheet' rel="stylesheet" href=''/>
      {% endif %}
    {% else %}
    <meta id='isMobile' name='False'>
    <link rel="stylesheet" href='{% static "css/desktop.css" %}'/>
    {% endif %}
    {% if xRequest or iphone %}
    <link rel="stylesheet" href='{% static "css/web_view.css" %}'/>
    <meta id='isXRequest' name='True'>
    {% else %}
    <meta id='isXRequest' name='False'>
    {% endif %}
  </head>
<script>
    function themer() {
      word = document.getElementById('theme');
      themesheet = document.getElementById('themesheet');
      // mobileThemesheet = document.getElementById('themesheet');
      isMobile = document.getElementById('isMobile');
      // isXRequest = document.getElementById('isXRequest');
      if (themesheet.href.includes("night.css")){
        if (isMobile.name == 'True'){
        mobileThemesheet.href = '';
        }
        // if (isXRequest == 'True'){
        //   webviewThemesheet.href = '';
        // } 
        themesheet.href = '';
          document.cookie = "theme=day;" + " path=/";
          word.innerHTML = "Day Theme";
        }
      else{
        themesheet.href = '/static/css/night.css';
        if (isMobile.name == 'True'){
          mobileThemesheet.href = '{% static "css/night_mobile.css" %}';
        }
        // if (isXRequest == 'True'){
        //   webviewThemesheet.href = '{% static "css/night_webview.css" %}';
        // } 
        document.cookie = "theme=night;" + " path=/";
        word.innerHTML = "Night Theme";
      }
    }
    </script>

<body>

  <div id='container'>
    {% if isMobile %} 
      {% include 'mobile/index_mobile.html' %}
    {% else %}
      {% include 'index.html' %}
    {% endif %}
    
    <div class='feedContainer'>
      {% if nav_bar and isMobile %}
          {% include 'utils/nav_bar.html' %}
            <div class='navBarSpacer'></div>
      {% endif %}
    <div class='feedTop'>
        {% if not isMobile %}
        <div class='shadow'></div>
        {% endif %}
        {% if 'Government not of' in title %}
        <img class='countryFlag' src={% static 'img/can_parliament.jpg' %}>
        {% elif cards == 'user_view' %}
        <h1 class='userName'>{{ user.get_userLink_html|safe }}</h1>
    
        {% else %}
        <h1 id='title'><a href='{{ title_link }}'>{{ title }}</a></h1>
        {% endif %}
        {% if subtitle %}
            <div id='subtitle'>{{ subtitle }}</div>
            <div id='subtitle2'>{{ subtitle2 }}</div>
        {% endif %}
        {% if nav_bar and not isMobile  %}
            {% include 'utils/nav_bar.html' %}
        {% endif %}
    </div>
    
    {% if nav_bar and not isMobile %}
      <div id='feed' style='border-top-right-radius: 0px;'>
    {% else %}
      <div id='feed'>
    {% endif %}
      {% include 'utils/feed.html' %}
    </div>
    </div>
    {% if isMobile %} 
    {% include 'mobile/search_mobile.html' %}
    {% include 'mobile/notifications_mobile.html' %}
    
    {% else %}
    {% include 'sidebar.html' %}
    {% endif %}
    </div>
    {% include 'utils/bottom_nav_bar.html' %}
    {% include 'utils/modal_widget.html' %}
    {% if request.user.must_rename %}
    <script>
      modalPopUp('Mandatory', '/accounts/must_rename')
    </script>
    {% endif %}
    {% if instruction %}
    <div id="instruction" value="{{ instruction }}"></div>
    {% endif %}
    {% if userData %}
    <div id="userData" value="{{ userData }}"></div>
    {% endif %}
    {% comment %}
    <a href='/a_story'><img id='hidden' src={% static 'img/outline.png' %}></a>
    {% endcomment %}
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elliptic/6.5.4/elliptic.min.js"></script>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<!-- hard code default.js to be received from github -->
<script src="{% static 'js/default.js' %}"></script>
{% include 'utils/infinite.html' %}

</html>