{% load static %}
<body>
<meta class='pageNum' id='Page: {{feed_list.number }}'>



{% if cards == 'mp_list' %}
    {% for p in feed_list %}
        {% with updatedRole=p.Update_obj %}
        {% with r=updatedRole.Role_obj %}
        {% with person=r.Person_obj %}
        {% with updatedPerson=includedUpdates|get_item:person.id %}
        {% include 'cards/representative_card.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}


{% elif cards == 'senator_list'%}
    {% for r in feed_list %}
        {% include 'cards/senator_card.html' %}
    {% endfor %}

{% elif cards == 'bills_list' %}
    {% for post in feed_list %} 
        {% with b=post.Bill_obj %}
        {% with updatedB=post.Update_obj %}
            {% include 'cards/bill_card.html' %}
        {% endwith %}
        {% endwith %}
    {% endfor %}

{% elif cards == 'bill_view' %}
    {% if page == 1 %}
        {% with updatedB=post.Update_obj %}
        {% with b=post.Bill_obj %}
            {% include 'cards/bill_card.html' %}
        {% endwith %}
        {% endwith %}
    {% endif %}
    {% if view == 'LatestText' or reading or comments %}
        {% include 'utils/detail_extension.html' %}
    {% else %}
        {% if view == 'Overview' and page == 1 %}
            {% include 'cards/summarySpren_card.html' %}
        {% endif %}
        {% for post in feed_list %}
            {% with r=interactions|get_item:post.id %}
        

            {% if post.Meeting_obj %}
                {% with meetingUpdate=post.Update_obj %}
                {% with meeting=post.Meeting_obj %}
                {% with agenda=meeting.Agenda_obj %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% elif post.Statement_obj %}
                {% with statementUpdate=post.Update_obj %}
                {% with statement=post.Statement_obj %}
                    {% include 'cards/statement_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.Agenda_obj %}
                {% with a=post.Agenda_obj %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
            {% elif post.BillVersion_obj %}
            
                {% with v=post.BillVersion_obj %}
                    {% include 'cards/billView_card.html' %}
                {% endwith %}
            {% elif post.BillAction_obj %}
                {% with a=post.BillAction_obj %}
                    {% include 'cards/billAction_card.html' %}
                {% endwith %}
            {% elif post.Motion_obj %}
                {% with updatedMotion=post.Update_obj %}
                {% with motion=post.Motion_obj %}
                {% with v=myRepVotes|get_item:post.id %}
                    {% include 'cards/motion_card.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}

            {% elif post.Committee_obj %}
                {% with c=post.Committee_obj %}
                    {% include 'cards/committee_card.html' %}
                {% endwith %}
            {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}

{% elif cards ==  'debates_list' %}
{% for post in feed_list %}
    {% with r=interactions|get_item:post.id %}
    {% if post.pointerType == 'Meeting' %}
        {% with meetingUpdate=post.Update_obj %}
        {% with meeting=post.Meeting_obj %}
        {% with agenda=meeting.Agenda_obj %}
            {% include 'cards/agenda_card.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% elif post.pointerType == 'Statement' %}
        {% with statementUpdate=post.Update_obj %}
        {% with statement=post.Statement_obj %}
            {% include 'cards/statement_card.html' %}
        {% endwith %}
        {% endwith %}
    {% endif %}
    {% endwith %}
{% endfor %}

{% elif cards ==  'debate_view' %}
{% if wordCloud %}
    {% include 'cards/wordCloud_card.html' %}
{% endif %}
{% if video_link and feed_list.number == 1 %}
    {% include 'cards/video_card.html' %}
{% endif %}
{% if sprenPost %}
    {% include 'cards/summarySpren_card.html' %}
{% endif %}
{% if feed_list %}
    {% for post in feed_list %}

        {% with r=interactions|get_item:post.id %}
        {% with statementUpdate=post.Update_obj %}
        {% with statement=post.Statement_obj %}
            {% include 'cards/statement_card.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
{% elif not Debate.has_transcript %}
    <div class='card'><p style='margin:auto;margin-top:20px;position: relative;'>Transcripts not yet available</p></div>
{% else %}
    <div class='card'><p style='margin:auto;margin-top:20px;position: relative;'>No items found</p></div>
{% endif %}

{% elif cards == 'committeeMeeting_list' %}
{% for post in feed_list %}
    {% with r=reactions|get_item:post.id %}
    {% with c=post.committeeMeeting %}
        {% include 'cards/committee_card.html' %}
    {% endwith %}
    {% endwith %}
{% endfor %}

{% elif cards == 'committeeMeeting_view' %}
{% comment %}
{% if not feed_list.has_previous %}
    {% with c=committee %}
    {% include 'cards/committee_card.html' %}
    {% endwith %}
{% endif %}
{% endcomment %}
{% if feed_list %}
    {% for post in feed_list %}
        {% with r=reactions|get_item:post.id %}
        {% with c=post.committeeItem %}
            {% include 'cards/committeeItem_card.html' %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
{% else %}
    <div class='card'><h3 style='margin:20px;' Debates can take up to ten days to be published.</h3></div>
{% endif %}


{% elif cards == 'motions_list' %}
{% for post in feed_list %}


    {% with updatedMotion=post.Update_obj %}
    {% with motion=post.Motion_obj %}
    {% with v=myRepVotes|get_item:post.id %}
        {% include 'cards/motion_card.html' %}
    {% endwith %}
    {% endwith %}
    {% endwith %}


{% endfor %}

{% elif cards == 'agenda_list' %}
{% for post in feed_list %}
    {% with r=reactions|get_item:post.id %}
    {% with a=post.agenda %}
        {% include 'cards/agenda_card.html' %}
    {% endwith %}
    {% endwith %}
{% endfor %}

{% elif cards == 'vote_list' %}
    {% if not feed_list.has_previous %}
    {% with motion=m %}
    {% with v=myRepVotes|get_item:m.id %}
        {% include 'cards/motion_card.html' %}
    {% endwith %}
    {% endwith %}
    {% endif %}
{% for v in feed_list %}
    {% with personUpdate=personUpdates|get_item:v.id %}
    {% include 'cards/vote_card.html' %}
    {% endwith %}
{% endfor %}

{% elif cards == 'elections_list' %}
<div class='card'>
    <div style="margin:auto;margin-top: 20px;">Coming Soon</div>
</div>
    {% comment %}
    {% if not feed_list %}
        {% if not request.user.is_authenticated %}
            <div class='card'>
                <div style="margin:auto;margin-top: 20px;"><a href='/login'>Please Login</a></div>
            </div>
        {% elif not request.user.riding %}
            <div class='card'>
                <div style="margin:auto;margin-top: 20px;"><a href='/set-region'>Please select a region</a></div>
            </div>
        {% else %}
            <div class='card'>
                <div style="margin:auto;margin-top: 20px;">None Upcoming</div>
            </div>
        {% endif %}
    {% else %}
        {% for post in feed_list %}
            {% with e=post.election %}
                {% include 'cards/election_card.html' %}
            {% endwith %}
        {% endfor %}
    {% endif %}
    {% endcomment %}

{% elif cards == 'candidates_list' %}
{% for c in feed_list %}
    {% include 'cards/candidate_card.html' %}
{% endfor %}

{% elif cards == 'watch_video' %}
{% include 'cards/video_card.html' %}
{% for post in feed_list %}
    {% with r=reactions|get_item:post.id %}
        {% with h=post.Debate_key %}
        {% with a=h.agenda %}
            {% include 'cards/agenda_card.html' %}
        {% endwith %}
        {% endwith %}
    {% endwith %}
{% endfor %}

{% elif cards == 'citizenry' %}
    <div class='card'>
        <div style="margin:auto;margin-top: 20px;">Coming Soon</div>
    </div>

{% elif cards == 'contact' %}
    <div class='card'>
        <div style="margin:auto;margin-top: 20px;"></div>
    </div>

{% elif cards == 'basic_card' %}
{% for p in feed_list %}
    <div class='card'>
        <h4>{{ p.title }}</h4>
    </div>
{% endfor %}

{% elif cards == 'region_form' %}
    {% include 'forms/region_form.html' %}

{% elif cards == 'test' %}
<div class='card'>
    <img src="{{ wordcloud }}">
</div>
<div class='form'>
    <div><h2>Test form.</h2></div>
    <div style='width:20px; border:1px solid red;'>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {{ i }} <input type="submit" class='btn btn-default' value="enter" />
    </form>    
    </div>
</div>

{% elif cards == 'login' %}
{% include 'forms/login_form.html' %}

{% elif cards == 'register' %}
{% include 'forms/register_form.html' %}

{% elif cards == 'privacyPolicy' %}
{% include 'privacy_policy.html' %}

{% elif cards == 'values' %}
{% include 'values.html' %}

{% elif cards == 'hero' %}
    <div class='card'>
        <div style="margin:auto;margin-top: 20px;">Coming Soon</div>
    </div>

{% elif cards == 'splash' %}
{% include 'splash.html' %}

{% elif cards == 'story' %}
{% include 'story.html' %}

{% elif cards == 'getApp' %}
{% include 'getApp.html' %}

{% elif cards == 'user_settings' %}
<div class='card'>
    <div style="margin:auto;margin-top: 20px;">Coming Soon</div>
</div>
{% comment %}
{% include 'user_settings.html' %}
{% endcomment %}



{% elif not feed_list and not searchForm %}
    {% if not nav_bar %}
        <div id='bottomCard'>
            <div style="margin:auto;">None Found</div>
        </div>
    {% else %}
    <div id='bottomCard'>
        <div class="lds-dual-ring"></div>
    </div>
    {% endif %}

    {% comment %}
    <div id='bottomCard'>
        <div style="margin:auto;">None Found</div>
    </div>
    {% endcomment %}
{% else %}
    
    {% if cards == 'mp_view' %}
        {% if page == 1 %}
            {% include 'cards/representative_card.html' %}
            {% if match or match == 0 %}
                <div class='card'>
                    <div style='margin:auto'>
                        <h2>Your Representation: {{ match }}% ({{ voteMatches}}/{{ totalMatches }})</h2>
                    </div>
                </div>
                <div class='bottomDivider'></div>
            {% endif %}
        {% endif %}
        {% if wordCloud %}
            {% include 'cards/wordCloud_card.html' %}
        {% endif %}
        {% for role in feed_list %}
            
            {% if role.object_type == 'vote' %}
                {% with v=role %}
                    {% include 'cards/vote_card.html' %}
                {% endwith %}
            {% elif role.DebateItem %}
                {% with post=role %}
                {% with h=role.DebateItem %}
                {% with r=reactions|get_item:role.id %}
                    {% include 'cards/DebateItem_card.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% elif role.bill %}
                {% with b=role.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
            {% else %}
                {% include 'cards/role_card.html' %}
            {% endif %}
        {% endfor %}



    {% elif searchForm %}
        {% include 'forms/search_form.html' %}
        
    {% endif %}
    {% if cards == 'top_cards' %}
        {% if dailyCard and feed_list.number == 1%}
            {% include 'cards/daily_card.html' %}
        {% endif %}
        {% for topPost in feed_list %}
            {% with post=topPost.post %}
            {% with r=reactions|get_item:post.id %}
            {% if post.bill %}
                {% with b=post.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
            {% elif post.Debate_key %}
                {% with h=post.Debate_key %}
                {% with a=h.agenda %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
                {% endwith %}
            {% endif %}
            {% endwith %}
            {% endwith %}
        {% endfor %}
    {% elif cards == 'home_list' or cards == 'home_view' %}
    {% if dailyCard and feed_list.number == 1%}
        {% include 'cards/daily_card.html' %}
    {% endif %}
    {% for post in feed_list %}
        {% with r=interactions|get_item:post.id %}
        {% if post.pointerType == 'Meeting' %}
            {% with meetingUpdate=post.Update_obj %}
            {% with meeting=post.Meeting_obj %}
            {% with agenda=meeting.Agenda_obj %}
                {% include 'cards/agenda_card.html' %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% elif post.pointerType == 'Bill' %}
            {% with b=post.Bill_obj %}
            {% with updatedB=post.Update_obj %}
                {% include 'cards/bill_card.html' %}
            {% endwith %}
            {% endwith %}
        {% elif post.billVersion %}
            {% with v=post.billVersion %}
            {% with b=v.bill %}
                {% include 'cards/bill_card.html' %}
            {% endwith %}
            {% endwith %}
        {% elif post.Debate_key %}
            {% with h=post.Debate_key %}
            <!-- <p>{{h.Terms}}</p> -->
            {% with a=h.agenda %}
                {% include 'cards/agenda_card.html' %}
            {% endwith %}
            {% endwith %}
        {% elif post.committeeMeeting %}
            {% with c=post.committeeMeeting %}
                {% include 'cards/committee_card.html' %}
            {% endwith %}
        {% elif post.motion %}
            {% with m=post.motion %}
            {% with v=myRepVotes|get_item:post.id %}
                {% include 'cards/motion_card.html' %}
            {% endwith %}
            {% endwith %}
        {% elif post.DebateItem %}
            {% with h=post.DebateItem %}
                {% include 'cards/DebateItem_card.html' %}
            {% endwith %}
        {% elif post.committeeItem %}
            {% with c=post.committeeItem %}
                {% include 'cards/committeeItem_card.html' %}
            {% endwith %}
        
        {% elif post.person %}
            {% with mp=post.person %}
                {% include 'cards/mp_card.html' %}
            {% endwith %}
        {% elif post.party %}
            {% with c=post.party %}
                {% include 'cards/party_card.html' %}
            {% endwith %}
        {% elif post.district %}
            {% with c=post.district %}
                {% include 'cards/riding_card.html' %}
            {% endwith %}
        {% elif post.riding %}
            {% with c=post.riding %}
                {% include 'cards/riding_card.html' %}
            {% endwith %}
        
        {% endif %}
        {% endwith %}
    {% endfor %}


    {% elif cards == 'user_view' %}
    {% for r in feed_list %} 
        {% if r.object_type == 'post' %}
            {% with post=r %}
            {% if post.agenda %}
                {% with a=post.agenda %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
            {% elif post.bill %}
                {% with b=post.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
            {% elif post.billVersion %}
                {% with v=post.billVersion %}
                {% with b=v.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.Debate_key %}
                {% with h=post.Debate_key %}
                {% with a=h.agenda %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.committeeMeeting %}
                {% with c=post.committeeMeeting %}
                    {% include 'cards/committee_card.html' %}
                {% endwith %}
            {% elif post.motion %}
                {% with m=post.motion %}
                {% with v=myRepVotes|get_item:post.id %}
                    {% include 'cards/motion_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.DebateItem %}
                {% with h=post.DebateItem %}
                    {% include 'cards.DebateItem_card.html' %}
                {% endwith %}
            {% elif post.committeeItem %}
                {% with c=post.committeeItem %}
                    {% include 'cards/committeeItem_card.html' %}
                {% endwith %}

            {% endif %}
            {% endwith %}

        {% elif r.object_type == 'person' %}
            {% with mp=r %}
                {% include 'cards/mp_card.html' %}
            {% endwith %}
        {% elif r.object_type == 'reaction' %}
            {% with post=r.post %}
            {% if post.agenda %}
                {% with a=post.agenda %}
                    {% include 'cards/agenda_card.html' %}
                {% endwith %}
            {% elif post.billVersion %}
                {% with v=post.billVersion %}
                {% with b=v.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.bill %}
                {% with b=post.bill %}
                    {% include 'cards/bill_card.html' %}
                {% endwith %}
            {% elif post.Debate_key %}
                {% with h=post.Debate_key %}
                    {% include 'cards/debate_card.html' %}
                {% endwith %}
            {% elif post.committeeMeeting %}
                {% with c=post.committeeMeeting %}
                    {% include 'cards/committee_card.html' %}
                {% endwith %}
            {% elif post.motion %}
                {% with m=post.motion %}
                {% with v=myRepVotes|get_item:post.id %}
                    {% include 'cards/motion_card.html' %}
                {% endwith %}
                {% endwith %}
            {% elif post.DebateItem %}
                {% with h=post.DebateItem %}
                    {% include 'cards.DebateItem_card.html' %}
                {% endwith %}
            {% elif post.committeeItem %}
                {% with c=post.committeeItem %}
                    {% include 'cards/committeeItem_card.html' %}
                {% endwith %}
            {% endif %}
            {% endwith %}
        {% else %}
            <div class='card'><h3 style='margin:20px;'>{{ r }}</h3></div>

        {% endif %}
    {% endfor %}

    {% endif %}


    {% include 'utils/paginator.html' %}

    <div id='bottomCard'>
    {% if feed_list.has_next %}
        {% include 'utils/bottomFeed.html' %}
    {% endif %}
    </div>

{% endif %}

{% if cards != 'home_view' and cards != 'home_list' and cards != 'user_view' and cards != 'mp_view' %}

{% include 'utils/paginator.html' %}

<div id='bottomCard'>
{% if feed_list.has_next %}
    {% include 'utils/bottomFeed.html' %}
{% endif %}
</div>

{% endif %}
</body>